<template>
  <div class="hello">
    <tab-swiper :dataSource="list"></tab-swiper>
  </div>
</template>

<script>
import TabSwiper from '@/components/common/tab-swiper'

export default {
  name: 'hello',
  data () {
    return {
      list: [
        {
          name: 'No1',
          routerPath: '/hello',
          routerViewName: 'swiper-view_'
        },
        {
          name: 'No2',
          routerPath: '/hello/demo2',
          routerViewName: 'swiper-view_'
        },
        {
          name: 'No3',
          routerPath: '/hello/demo3',
          routerViewName: 'swiper-view_'
        }
      ]
    }
  },
  components: {
    TabSwiper
  },
}
</script>

<style lang="less" src="./index.less"></style>
