<template>
    <div>
      hello word No3
    </div>
</template>

<script>
  import * as API from '@/http/common/api'
  import mixinUtils from '@/mixins/common/public.js'
  export default {
    name: 'demo1',
    mixins: [mixinUtils],
    data () {
      return {}
    },
    beforeRouteEnter: (to, from, next) => {
      next((vm) => {
        vm.$nextTick(() => {
          console.log('hello word No3')
        })
      })
    },
    methods: {}
  }
</script>
