<template>
  <div id="app">
    <div class="wrap">
      <transition>
        <router-view class="conter"></router-view>
      </transition>
    </div>
  </div>
</template>

<script>
import * as handleNativeFunNames from '@/_lib/jsbridge/handleNativeFunNames' // 触发native方法名称集合
import * as registerGlobalFunNames from '@/_lib/jsbridge/registerGlobalFunNames.js' // 注册window下方法名称集合 (供native调用)
export default {
  name: 'app'
}
</script>

<style lang="less">
  @import "./less/core.less";
  #app, .wrap, .conter {
    width: 100%;
    height: 100%;
    font-size: 24px;
  }

  .left-enter {
    transform: translateX(100%);
  }

  .left-enter-to {
    transform: translateX(0%);
  }

  .left-leave {
    transform: translateX(0%);
  }

  .left-leave-to {
    transform: translateX(-100%);
  }

  .left-enter-active, .left-leave-active {
    transition: .2s;
  }

  .right-enter {
    transform: translateX(-100%);
  }

  .right-enter-to {
    transform: translateX(0%);
  }

  .right-leave {
    transform: translateX(0%);
  }

  .right-leave-to {
    transform: translateX(100%);
  }

  .right-enter-active, .right-leave-active {
    transition: .2s;
  }

</style>
